.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    color: black;
}

.footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background-color: #eec018;
  }
  